<div class="kloud-header">
  <form [formGroup]="compareForm">
    <input matInput/>
    <mat-form-field>
      <input
        matInput
        placeholder="Ngày Đối soát"
        formControlName="compareDate"
        [matDatepicker]="compareDatePicker"
      />
      <mat-hint>Định dạng ngày DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="compareDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        color="primary"
        #compareDatePicker></mat-datepicker>
          <mat-error *ngIf="!compareForm.controls['compareDate'].valid">
            Vui lòng nhập đầy đủ thông tin!
          </mat-error>
    </mat-form-field>
  </form>
</div>

<div class="fluid-container">
  <div class="left-container">
    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Đơn thuốc </span>
      </mat-card-title>
      <kloud-divider></kloud-divider>
      <mat-card-content class="kard-kontent">
        <div class="kard-kontent-komponent">
          <mat-label class="kard-kontent-komponent-title">Lọc học kỳ</mat-label>
          <mat-form-field
            class="filter-component-container full-width-input"
            appearance="outline"
          >
            <mat-label>Học kỳ</mat-label>
          </mat-form-field>
        </div>

        <kloud-divider></kloud-divider>

        <div class="kloud-kard-actions">
          <button mat-flat-button> Đặt lại </button>
          <div class="widget-spacer"></div>
          <button mat-raised-button> Áp dụng </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="left-container">
    <mat-card class="filter-container">
      <mat-card-title class="kloud-title-container">
        <span class="page-title"> Đơn nhà xe </span>
      </mat-card-title>
      <kloud-divider></kloud-divider>
      <mat-card-content class="kard-kontent">
        <div class="kard-kontent-komponent">
          <mat-label class="kard-kontent-komponent-title">Lọc học kỳ</mat-label>
          <mat-form-field
            class="filter-component-container full-width-input"
            appearance="outline"
          >
            <mat-label>Học kỳ</mat-label>
          </mat-form-field>
        </div>
        <kloud-divider></kloud-divider>
        <div class="kloud-kard-actions">
          <button mat-flat-button> Đặt lại </button>
          <div class="widget-spacer"></div>
          <button mat-raised-button> Áp dụng </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
